<% provide(:title, "Home") %>
<section class = "home-layout">
  <br />
  <div class = "container">
    <% flash.each do |key, value| %>
      <div class = "alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class = "box-container">
      <div class = "box-back rounded-corners"></div>
      <div class = "box-text center"> 
        <br /><br />
        <h3>
          Your friends know a whole bunch of interesting people! <%= @app_name %> takes advantage of the social networks you have have established  and helps connect you to your next buddy.
        </h3>
        <br />
        <p>
          <%= link_to("Explore Now!", "/explore", class: "btn btn-primary btn-large")  %>
          <br /><br />
          <span class ="reg-reminder">*Login with your Facebook!</span>
        </p>
      </div>
    </div>
  <br />
  <% if signed_in? %>
    <div class = "hero-unit">
      <%= image_tag current_user.user_info.picture, class: "pull-left" %><br />
      <div class = "pull-left">
        &nbsp; Name: <%= current_user.user_info.name %><br />
        &nbsp; Email: <%= current_user.user_info.email %><br />
      </div>
    </div>
  <% end %>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</section>
